<div class="container">
  <ol class="breadcrumb">
    <li><a href="index.html">الرئيسية</a></li>
    <li class="active">التسجيل</li>
  </ol>
  <div class="registration_form" dir="rtl" >
    <h2>التسجيل</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>


        <div class="field">
          <%= f.label :name,'الاسم' %><br/>
          <%= f.text_field :name, autofocus: true, :placeholder => 'الاسم' %>
        </div>

        <div class="field">
          <%= f.label :email,'البريد الالكتروني' %><br/>
          <%= f.email_field :email, :placeholder => 'البريد الالكتروني' %>
        </div>

        <div class="field">
          <%= f.label :password,'كلمة السر' %>
          <% if @minimum_password_length %>
              <em > (<%= @minimum_password_length %> حروف كحد أدنى)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "off", :placeholder => 'كلمة السر' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation,'تأكيد كلمة السر' %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'تأكيد كلمة السر' %>
        </div>

        <div class="field">
          <%= f.label :address,'العنوان' %><br/>
          <%= f.text_area :address, :placeholder => 'العنوان' %>
        </div>

        <div class="field">
          <%= f.label :landline_number,'الهاتف الأرضي' %><br/>
          <%= f.phone_field :landline_number, autofocus: true, :placeholder => 'الهاتف الأرضي' %>
        </div>

        <div class="field">
          <%= f.label :mobile_number,'الهاتف المحمول' %><br/>
          <%= f.phone_field :mobile_number, autofocus: true, :placeholder => 'الهاتف المحمول' %>
        </div>

        <div class="field">
          <%= f.label :workplace,'مكان العمل' %><br/>
          <%= f.text_field :workplace, :placeholder => 'مكان العمل' %>
        </div>

        <div class="actions">
          <%= f.submit "سجل" %>
        </div>

    <% end %>

  </div>
</div>