<%- model_class = Cart -%>
<div class="page-header">
    <h1>الطلبات</h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <%= link_to 'Dashboard', :admin_dashboard %>
        </li>
        <li class="active">
            <i class="fa fa-table"></i> الطلبات
        </li>
    </ol>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>المُستخدم</th>
        <th>السعر للصيدليات</th>
        <th>السعر للجمهور</th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th>الإجراءات</th>
    </tr>
    </thead>
    <tbody>
    <% @carts.each do |cart| %>
        <tr>
            <td><%= cart.id %></td>
            <td><%= User.find(cart.user_id).name %></td>
            <td><%= cart.price_pharmacy %></td>
            <td><%= cart.price_population %></td>

            <td><%= l cart.created_at %></td>
            <td>
                <%= link_to 'عرض التفاصيل', admin_cart_path(cart), :class => 'btn btn-default' %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<script>
    $(function () {
        $(".table").dataTable({
            "language": {
                "url": "/lib/datatables/lang-ar.json"
            }
        });
    });
</script>
