<%- model_class = User -%>
<div class="page-header">
    <h1>المُستخدمين</h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <%= link_to 'Dashboard', :admin_dashboard %>
        </li>
        <li class="active">
            <i class="fa fa-table"></i> المُستخدمين
        </li>
    </ol>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>الرتبة</th>
        <th>الإسم</th>
        <th>العنوان</th>
        <th>الرقم الأرضي</th>
        <th>رقم المحمول</th>
        <th>محل العمل</th>
        <th>الإجراءات</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.position %></td>
            <td><%= user.name %></td>
            <td><%= user.address %></td>
            <td><%= user.landline_number %></td>
            <td><%= user.mobile_number %></td>
            <td><%= user.workplace %></td>
            <td>
                <%= link_to 'عرض التفاصيل', user_path(user), :class => 'btn btn-default' %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
