<%- model_class = User -%>
<div class="page-header">
    <h1>المُستخدمين</h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <%= link_to 'Dashboard', :admin_dashboard %>
        </li>
        <li class="active">
            <i class="fa fa-table"></i> المُستخدمين
        </li>
    </ol>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>الرتبة</th>
        <th>الإسم</th>
        <th>العنوان</th>
        <th>الرقم الأرضي</th>
        <th>رقم المحمول</th>
        <th>محل العمل</th>
        <th>الإجراءات</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.position %></td>
            <td><%= user.name %></td>
            <td><%= user.address %></td>
            <td><%= user.landline_number %></td>
            <td><%= user.mobile_number %></td>
            <td><%= user.workplace %></td>
            <td>
                <%= link_to 'عرض التفاصيل', user_path(user), :class => 'btn btn-xs btn-default' %>
                <%= link_to 'تعديل', edit_user_path(user), :class => 'btn btn-xs btn-default' %>
                <%= link_to 'مسح', user_path(user), :method => :delete,
                    :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                    :class => 'btn btn-xs btn-danger' %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<script>
    $(function () {
        $(".table").dataTable({
            "language": {
                "url": "/lib/datatables/lang-ar.json"
            }
        });
    });
</script>
