<%- model_class = User -%>
<div class="page-header">
    <h1>المُستخدم رقم <%= @user.id %></h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <%= link_to 'Dashboard', :admin_dashboard %>
        </li>
        <li>
            <i class="fa fa-table"></i> <%= link_to 'المُستخدمين', users_path %>
        </li>
        <li class="active">
            المُستخدم رقم <%= @user.id %>
        </li>
    </ol>
</div>

<dl class="dl-horizontal">
    <dt><strong>الرتبة:</strong></dt>
    <dd><%= @user.position %></dd>
    <dt><strong>الإسم:</strong></dt>
    <dd><%= @user.name %></dd>
    <dt><strong>العنوان:</strong></dt>
    <dd><%= @user.address %></dd>
    <dt><strong>الرقم الأرضي:</strong></dt>
    <dd><%= @user.landline_number %></dd>
    <dt><strong>رقم المحمول:</strong></dt>
    <dd><%= @user.mobile_number %></dd>
    <dt><strong>محل العمل:</strong></dt>
    <dd><%= @user.workplace %></dd>
</dl>

<%= link_to 'الرجوع', users_path, :class => 'btn btn-default' %>