<div class="checkout">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Cart</li>
        </ol>
        <% if notice and notice.include?('Order') %>
            <% if not notice.include?('not') %>
                <div class="alert alert-success" role="alert">
                    <%= notice %>
                </div>
            <% else %>
                <div class="alert alert-danger" role="alert">
                    <%= notice %>
                </div>

            <% end %>
        <% end %>
        <% if current_user.carts.where(placed: false)[0].orders.count != 0 %>
            <div class="col-md-9 product-price1">
                <div class="check-out">
                    <div class=" cart-items">
                        <div class="in-check">

                            <ul class="unit">
                                <li><span>Item</span></li>
                                <li><span>Name</span></li>
                                <li><span>Pharmacy Price</span></li>
                                <li><span>Population Price</span></li>
                                <li><span>Quantity</span></li>
                                <li></li>
                                <div class="clearfix"></div>
                            </ul>
                            <% @orders.each_with_index do |order, index| %>
                                <ul class="cart-header-<%= index %>">
                                    <li class="ring-in">
                                        <a href="/client/single_product?product_id=<%= order.product_id %>">
                                            <% if Product.find(order.product_id).photo_file_name %>
                                                <%= image_tag Product.find(order.product_id).photo.url, style: 'max-width:100px;
                        max-height:100px' %>
                                            <% else %>
                                                <img src="/client/images/pills.png" style="max-width:100px;max-height:100px"/>
                                            <% end %>
                                        </a>
                                    </li>
                                    <li><span><%= Product.find(order.product_id).name %></span></li>
                                    <li><span><%= Product.find(order.product_id).price_pharmacy %></span></li>
                                    <li><span><%= Product.find(order.product_id).price_population %></span></li>
                                    <li><span><%= order.quantity %></span></li>
                                    <div class="close-<%= index %>">
                                      <%= button_to 'X',
                                                  order_path(order),
                                                  :method => 'delete',
                                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                                  :class => 'btn btn-primary btn-sm' ,
                                                  :style => 'color: #fff;background-color: #3276b1;border-color: #285e8e;'%>
                                    </div>
                                    <div class="clearfix"></div>
                                </ul>
                            <% end %>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cart-total">

                <h4 class="last-price">Pharmacy Total</h4>
                <span class="total final"><%= @cart.price_pharmacy %> L.E.</span>
                <h4 class="last-price">Population Total</h4>
                <span class="total final"><%= @cart.price_population %> L.E.</span>
                <div class="clearfix"></div>
                <a class="order"
                   href="/client/checkout?checkout=true&cart_id=<%= @cart.id %>&user_id=<%= current_user.id ? current_user.id : nil %>">
                    Place Order
                </a>
            </div>
        <% else %>
            <div class="container">
                <h1 class="text-center">Cart is Empty.</h1>
            </div>
        <% end %>
    </div>
</div>
<script>
    $(document).ready(function (c) {
        <% @orders.each_with_index  do |order,index| %>
        $('.close-<%= index %>').on('click', function (c) {
            $('.cart-header-<%= index %>').fadeOut('slow', function (c) {
                $('.cart-header-<%= index %>').remove();
            });
        });
        <% end %>


    });
</script>