<%- model_class = Order -%>
<div class="page-header">
    <h1>المُشترى رقم <%= @order.id %></h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <%= link_to 'Dashboard', :admin_dashboard %>
        </li>
        <li>
            <i class="fa fa-table"></i> المُشترىات
        </li>
        <li class="active">
            <i class="fa fa-table"></i> المُشترى رقم <%= @order.id %>
        </li>
    </ol>
</div>

<dl class="dl-horizontal">
    <dt><strong>المنتج:</strong></dt>
    <dd><%= Product.find(@order.product_id).name %></dd>
    <dt><strong>الكمية:</strong></dt>
    <dd><%= @order.quantity %></dd>
    <dt><strong>السعر للصيدليات:</strong></dt>
    <dd><%= @order.price_pharmacy %></dd>
    <dt><strong>السعر للجمهور:</strong></dt>
    <dd><%= @order.price_population %></dd>
    <dt><strong><%= model_class.human_attribute_name(:cart_id) %>:</strong></dt>
    <dd><%= @order.cart_id %></dd>
</dl>

<%= link_to 'الرجوع', orders_path, :class => 'btn btn-default' %>
