<%- model_class = Cart -%>
<div class="page-header">
    <h1>الطلب رقم <%= @cart.id %></h1>
</div>

<dl class="dl-horizontal">
    <dt><strong>المُستخدم:</strong></dt>
    <dd>
        <div class="row">
            <br>
            الرتبة: <%= @user.position %> <br>
            الإسم: <%= @user.name %> <br>
            العنوان: <%= @user.address %> <br>
            الرقم الأرضي: <%= @user.landline_number %> <br>
            رقم المحمول: <%= @user.mobile_number %> <br>
            محل العمل: <%= @user.workplace %> <br>
        </div>

    </dd>

    <hr>

    <dt><strong>المُشترىات:</strong></dt>
    <dd>
        <br>
        <div class="row">
            <div class="col-lg-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>الصنف</th>
                        <th>الكمية</th>
                        <th>السعر للصيدليات</th>
                        <th>السعر للجمهور</th>
                        <th><%= model_class.human_attribute_name(:created_at) %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @orders.each do |order| %>
                        <tr>
                            <td><%= order.id %></td>
                            <td><%= Product.find(order.product_id).name %></td>
                            <td><%= order.quantity %></td>
                            <td><%= order.price_pharmacy %></td>
                            <td><%= order.price_population %></td>
                            <td><%= l order.created_at %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </dd>

    <hr>

    <dt><strong>السعر الكُلّي للصيدليات:</strong></dt>
    <dd><%= @cart.price_pharmacy %></dd>
    <dt><strong>السعر الكُلّي للجمهور:</strong></dt>
    <dd><%= @cart.price_population %></dd>

    <hr>

</dl>


<%= link_to 'الرحوع', admin_carts_path, :class => 'btn btn-default' %>

<script>
    $(function () {
        $(".table").dataTable({
            "lengthMenu": [5, 10, 25],
            "language": {
                "url": "/lib/datatables/lang-ar.json"
            }
        });
    });
</script>