<div class="login_sec">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">الرئيسية</a></li>
            <li class="active"> تسجيل الدخول</li>
        </ol>

        <div class="registration_form log" dir="rtl" >
          <h2>تسجيل الدخول</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                    <%= f.label :email,'البريد الالكتروني' %><br/>
                    <%= f.email_field :email, autofocus: true %>
                </div>

                <div class="field">
                    <%= f.label :password,'كلمة السر' %><br/>
                    <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me,'تذكرني' %>
                    </div>
                <% end -%>

                <div class="actions">
                    <%= f.submit "ادخل" %>
                </div>
            <% end %>


        </div>
        <div class="clearfix"></div>
    </div>
</div>