<%- model_class = Admin::Category -%>
<div class="page-header">
    <h1>الفئات</h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <%= link_to 'Dashboard', :admin_dashboard %>
        </li>
        <li class="active">
            <i class="fa fa-table"></i> الفئات
        </li>
    </ol>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>الفئة الأم</th>
        <th>الإسم</th>
        <th>التعليقات</th>
        <th>الصورة</th>
        <th>الإجراءات</th>
    </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
        <tr>
            <td><%= category.id %></td>
            <td><%= category.parent_id ? Category.find(category.parent_id).name : '' %></td>
            <td><%= category.name %></td>
            <td><%= category.comments %></td>
            <td><%= category.photo_file_name %></td>
            <td>
                <%= link_to 'تعديل', edit_admin_category_path(category), :class => 'btn btn-xs btn-default' %>

                <%= link_to 'التصنيفات', admin_categories_path(:parent_id => category.id), :class => 'btn btn-xs btn-default' %>

                <%= link_to 'أضف صنف', new_admin_product_path(:category_id => category.id), :class => 'btn btn-xs btn-default' %>

                <%= link_to 'الأصناف', admin_products_path(:category_id => category.id), :class => 'btn btn-xs btn-default' %>

                <%= link_to 'مسح', admin_category_path(category), :method => :delete,
                    :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure ?'))},
                    :class => 'btn btn-xs btn-danger'
                %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<%= link_to 'أضف فئة', new_admin_category_path, :class => 'btn btn-primary' %>

<script>
    $(function () {
        $(".table").dataTable({
            "language": {
                "url": "/lib/datatables/lang-ar.json"
            }
        });
    });
</script>
