<%= form_for @product, :html => {:class => "form-horizontal product"} do |f| %>

    <% if @product.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from
              being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label 'الصنف', :class => 'control-label col-lg-2' %>
      <% if params[:category_id] %>
          <div class="col-lg-9">
            <%= f.label Category.find(params[:category_id]).name, :class => 'col-lg-2' %>
            <%= f.hidden_field :category_id, :value => params[:category_id] %>
          </div>
      <% else %>
          <div class="col-lg-9">
            <%= f.collection_select :category_id, Category.all, :id, :name, {:class => 'form-control'} %>
          </div>
      <% end %>
      <%= f.error_span(:category_id) %>
    </div>
    <div class="form-group">
      <%= f.label 'الإسم', :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= f.error_span(:name) %>
    </div>
    <div class="form-group">
      <%= f.label 'السعر للصيدليات', :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.number_field :price_pharmacy, :class => 'form-control' %>
      </div>
      <%= f.error_span(:price_pharmacy) %>
    </div>
    <div class="form-group">
      <%= f.label 'السعر للجمهور', :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.number_field :price_population, :class => 'form-control' %>
      </div>
      <%= f.error_span(:price_population) %>
    </div>
    <div class="form-group">
      <%= f.label 'التعليقات', :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.text_field :comments, :class => 'form-control' %>
      </div>
      <%= f.error_span(:comments) %>
    </div>

    <div class="form-group">
      <%= f.label 'الصورة', :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.file_field :photo, :class => 'form-control' %>
      </div>
      <%= f.error_span(:photo) %>
    </div>

    <% if @product.photo_file_name %>
        <div class="form-group">
          <%= f.label :photo, "الصورة الحالية", :class => 'control-label col-lg-2' %>
          <div class="col-lg-9">
            <%= @product.photo_file_name %>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-9">
        <%= f.submit @string, :class => 'btn btn-primary' %>
        <%= link_to 'إلغاء', products_path, :class => 'btn btn-default' %>

      </div>
    </div>

<% end %>
