<%- model_class = Product -%>
<div class="page-header">
    <h1>المنتجات</h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <%= link_to 'Dashboard', :admin_dashboard %>
        </li>
        <li class="active">
            <i class="fa fa-table"></i> المنتجات
        </li>
    </ol>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>الصنف</th>
        <th>الإسم</th>
        <th>السعر للصيدليات</th>
        <th>السعر للجمهور</th>
        <th>التعليقات</th>
        <th>الصورة</th>
        <th>الإجراءات</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
        <tr>
            <td><%= product.id %></td>
            <td><%= Category.find(product.category_id).name %></td>
            <td><%= product.name %></td>
            <td><%= product.price_pharmacy %></td>
            <td><%= product.price_population %></td>
            <td><%= product.comments %></td>
            <td><%= product.photo_file_name %></td>

            <td>
                <%= link_to 'تعديل', edit_product_path(product), :class => 'btn btn-default btn-xs' %>

                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    product_path(product),
                    :method => :delete,
                    :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                    :class => 'btn btn-xs btn-danger' %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<%= link_to 'أضف منتج', new_product_path, :class => 'btn btn-primary' %>

<script>
    $(function () {
        $(".table").dataTable();
    });
</script>
