<!DOCTYPE html>
<html lang="en">

<head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Admin dashboard for ema group website">
    <meta name="author" content="Amr Fathy">

    <title>EMA Group - Admin Dashboard</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Bootstrap Core CSS RTL-->
    <!-- ********************* Uncomment for RTL ********************* -->
    <link href="/admin/css/bootstrap-rtl.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <%= stylesheet_link_tag "/admin/css/sb-admin.css" %>
    <!-- ********************* Uncomment for RTL ********************* -->
    <link href="/admin/css/sb-admin-rtl.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <%= stylesheet_link_tag "/admin/font-awesome/css/font-awesome.min.css" %>

    <!-- datatable CSS -->
    <%= stylesheet_link_tag "/lib/datatables/datatables.min.css" %>
</head>

<body>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- datatable JavaScript -->
    <%= javascript_include_tag "/lib/datatables/datatables.min.js" %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to 'Admin Dashboard | EMA Group', :admin_dashboard, :class => 'navbar-brand' %>
            </div>

            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %>
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to '<i class="fa fa-fw fa-power-off"></i> Log Out'.html_safe,
                                controller: 'devise/sessions', action: 'destroy', id: current_user.id
                                # destroy_user_session_path, :method => 'delete'
                            %>
                        </li>
                    </ul>
                </li>
            </ul>


            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <%= link_to '<i class="fa fa-fw fa-dashboard"></i> Dashboard'.html_safe, :admin_dashboard %>
                    </li>
                    <li>
                        <%= link_to '<i class="fa fa-fw fa-table"></i> الأصناف'.html_safe, :categories %>
                    </li>
                    <li>
                        <%= link_to '<i class="fa fa-fw fa-table"></i> المنتجات'.html_safe, :products %>
                    </li>
                    <li>
                        <%= link_to '<i class="fa fa-fw fa-table"></i> الطلبات'.html_safe, :carts %>
                    </li>
                    <li>
                        <%= link_to '<i class="fa fa-fw fa-table"></i> العروض'.html_safe, :offers %>
                    </li>
                    <li>
                        <%= link_to '<i class="fa fa-fw fa-table"></i> المُستخدمين'.html_safe, :users %>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <%= yield %>
                </div>
            </div>
        </div>

    </div>
    <!-- /#wrapper -->

    <script>
        $(function () {
            var url = window.location.pathname;
            var activePage = url.substring(url.lastIndexOf('/') + 1);
            $('.nav li a').each(function () {
                var currentPage = this.href.substring(this.href.lastIndexOf('/') + 1);

                if (activePage == currentPage) {
                    $(this).parent().addClass('active');
                }
            });
        });
    </script>
</body>

</html>
