<!DOCTYPE html>
<html>
<head>
  <title>EMAGroup</title>
  <link href="/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/client/js/jquery.min.js"></script>
  <!--<link href="/client/css/datatables.min.css" rel="stylesheet" type="text/css" media="all"/>-->
  <!--<script src='/client/js/datatables.min.js'></script>-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/datatables.min.js"></script>
  <!-- Custom Theme files -->
  <!--theme-style-->
  <link href="/client/css/style.css" rel="stylesheet" type="text/css" media="all"/>
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="EMA group Store"/>

  <script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);
  function hideURLbar() {
    window.scrollTo(0, 1);
  } </script>
  <!-- start menu -->
  <script src="/client/js/simpleCart.min.js"></script>
  <!-- start menu -->
  <link href="/client/css/memenu.css" rel="stylesheet" type="text/css" media="all"/>
  <script type="text/javascript" src="/client/js/memenu.js"></script>
  <script>$(document).ready(function () {
    $(".memenu").memenu();
  });</script>
  <!-- /start menu -->
</head>
<body>
<!--header-->
<div class="top_bg">
  <div class="container">
    <div class="header_top-sec">
      <div class="top_right">
        <ul>
          <li><%= link_to 'Home', :root %></li>
          |
          <li><a href="contact.html">Contact us</a></li>
        </ul>
      </div>
      <div class="top_left">
        <ul>
          <% if current_user %>
              <li class="top_link"><%= 'My Account' %></li>|
              <li class="top_link"><%= link_to 'Log out', destroy_user_session_path , method: :delete %></li>
          <% else %>
              <li class="top_link"><%= link_to 'Sign In',  new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="header-top">
  <div class="header-bottom">
    <div class="container">
      <div class="logo">
        <a href="/"><h1>EMA-GROUP</h1></a>
      </div>
      <!---->

      <div class="top-nav">
        <ul class="memenu skyblue">
          <li class="active"><a href="/">Home</a></li>
          <li class="grid"><a href="<%= client_products_path %>">Products</a></li>
          <li class="grid"><%= link_to 'Offers',offers_path %></li>
          <li class="grid"><%= link_to 'Contact', static_pages_contact_us_path %></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!---->
      <div class="cart box_1">
        <a href="checkout.html">
          <h3>
            <div class="total">
              <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)
            </div>
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></h3>
        </a>
        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <!---->
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!---->
<section>
  <div class="container">
<%= yield %>
  </div>
</section>
<!---->
<div class="copywrite">
  <div class="container">
    <p>Copyright © EMA-Group</p>
  </div>
</div>
</body>
</html>
